$prefix-image-path: '~assets/images/';

@mixin bg-image($background-image, $width, $height) {
  background-image: var($background-image);
  background-size: $width $height;
  background-repeat: no-repeat;
  background-position: center;
}