@charset 'utf-8';

// Color variables
// - 컬러 변수 네이밍 룰.
// - 네이밍 확인이 어려운 컬러는 HEX를 그대로 이름으로 사용
// --color-{color-name}-{opacity * 100}
// --------------------------------------------------
$black: #000000 !default;
$white: #ffffff !default;

$colors: (
  --color-black: $black,
  --color-black-50: rgba($black, 0.5),

  --color-white: $white,
  --color-white-03: rgba($white, 0.03),

  --color-f9f9f9: #f9f9f9,
)